{% extends "home/nav.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/judgementdoc.css">
<div class="container">
	<div class="col-md-12">
		<form class="navbar-form navbar-left" role="search">
		  <div class="form-group">
		    <input type="text" class="form-control" placeholder="Search">
		  </div>
		  <button type="submit" class="btn btn-default">搜索</button>
		</form>
		<a href="#">热搜</a>
		<a href="#">知识产权</a>
		<a href="#">合同</a>
		<a href="#">盗窃</a>
		<a href="#">离婚</a>
	</div>

	<!-- 切换 -->
	<div class="row">
		<div class="col-md-4">
		  <ul class="nav nav-tabs nav-stacked" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">所有</a></li>
		    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">行事案件</a></li>
		    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">民事案件</a></li>
		    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">赔偿案件</a></li>
		  </ul>
		</div>
		  <!-- 内容 -->
		<div class="col-md-8" style="border: 1px solid #000;">
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">
				<div id="tooltip"></div><!-- div to hold tooltip. -->
				<svg width="560" height="470" id="statesvg"></svg> <!-- svg to hold the map. -->
				<script src="../static/js/china-zh2.js"></script> <!-- creates uStates. -->
				<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
				<script>
					function tooltipHtml(n, d){    /* function to create html content string in tooltip div. */
						return "<h4>"+n+"</h4><table>"+
			               "<tr><td>Low</td><td>"+(d.low)+"</td></tr>"+
			               "<tr><td>Average</td><td>"+(d.avg)+"</td></tr>"+
			               "<tr><td>High</td><td>"+(d.high)+"</td></tr>"+
			               "</table>";
			       }
			     
			       var sampleData ={};    /* Sample random data. */    
			       ['JXI', 'LIA', 'TIB', 'NMG', 'SHH', 'CHQ', 'XIN', 'SHD', 'HEN', 'GUD', 'GUI', 'BEJ', 'MAC', 'TAJ', 'HLJ', 'HEB', 'ZHJ', 'ANH', 'GXI', 'HAI', 'JIL', 'SHX', 'HUN', 'YUN', 'FUJ', 'HUB', 'SHA', 'HKG', 'QIH', 'GAN', 'JSU', 'SCH', 'NXA', 'TAI']
			           .forEach(function(d){ 
			               var low=Math.round(100*Math.random()), 
			                   mid=Math.round(100*Math.random()), 
			                   high=Math.round(100*Math.random());
			               sampleData[d]={low:d3.min([low,mid,high]), high:d3.max([low,mid,high]), 
			                       avg:Math.round((low+mid+high)/3), color:d3.interpolate("#ffffcc", "#800026")(low/100)}; 
			           });
			      
			       	/* draw states on id #statesvg */    
			       	uStates.draw("#statesvg", sampleData, tooltipHtml);
			   	</script>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="profile">
		    	<ul>
		    		<li>第五条　【罪责刑相适应】刑罚的轻重，应当与犯罪分子所犯罪行和承担的刑事责任相适应。</li>
		    		<li>第六条　【属地管辖权】凡在中华人民共和国领域内犯罪的，除法律有特别规定的以外，都适用本法。</li>
		    		<li>第七条　【属人管辖权】中华人民共和国公民在中华人民共和国领域外犯本法规定之罪的，适用本法，但是按本法规定的最高刑为三年以下有期徒刑的，可以不予追究。
					中华人民共和国国家工作人员和军人在中华人民共和国领域外犯本法规定之罪的，适用本法。</li>
		    		<li>第八条　【保护管辖权】外国人在中华人民共和国领域外对中华人民共和国国家或者公民犯罪，而按本法规定的最低刑为三年以上有期徒刑的，可以适用本法，但是按照犯罪地的法律不受处罚的除外。</li>
		    	</ul>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="messages">
		    	<ul>
		    		<li>第一条　【立法目的】为了惩罚犯罪，保护人民，根据宪法，结合我国同犯罪作斗争的具体经验及实际情况，制定本法。</li>
		    		<li>第二条　【任务】中华人民共和国刑法的任务，是用刑罚同一切犯罪行为作斗争，以保卫国家安全，保卫人民民主专政的政权和社会主义制度，保护国有财产和劳动群众集体所有的财产，保护公民私人所有的财产，保护公民的人身权利、民主权利和其他权利，维护社会秩序、经济秩序，保障社会主义建设事业的顺利进行。</li>
		    		<li>第三条　【罪刑法定】法律明文规定为犯罪行为的，依照法律定罪处刑;法律没有明文规定为犯罪行为的，不得定罪处刑。</li>
		    		<li>第四条　【法律面前人人平等】对任何人犯罪，在适用法律上一律平等。不允许任何人有超越法律的特权。</li>
		    	</ul>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="settings">
		    	
		    </div>
		  </div>
		</div>
	</div>	

</div>

{% endblock %}