{% extends "home/nav.html" %}
{% block css %}
    <style>
        a {
            text-decoration: none;
        }

        body {

        }

        ul {
            margin: 0;
            padding: 0;
        }


        .contain_bottom {
            width: 100%;
            height: 415px;
        }

        .contain_bottom_left {
            width: 100px;
            float: left;
        }

        .choose_ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;

        }

        .choose_item_left {
            width: 90px;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            margin-top: 10px;
            background-color: gray;
            text-align: center;

        }

        .choose_item_left1 {
            width: 90px;
            height: 40px;
            display: inline-block;
            text-align: center;
            line-height: 40px;
            background-color: rgb(50, 204, 255);

        }

        .choose_item_left:hover {
            background-color: rgb(50, 204, 255);
        }


        .contain_bottom_right {
            width: 200px;
            height: auto;
            float: right;
            margin-top: 10px;
        }

        .contain_bottom_r_top {
            margin-left: 10px;
            width: 140px;
            background-color: rgb(50, 204, 255);
            height: 30px;
            text-align: center;
        }

        .contain_bottom_r_mi {
            margin-left: 10px;
            width: 140px;
            height: 310px;
            border: 1px solid gray;

        }

        .contain_bottom_r_top_a {
            display: inline-block;
            height: 30px;
            width: 140px;
            line-height: 30px;
            font-color: black;

        }



        .contain_bottom_r_bo {
            margin-left: 10px;
            width: 140px;
            background-color: rgb(50, 204, 255);
            height: 30px;
            text-align: center;
            margin-top: 45px;
        }

        .wrapp {
            width: 830px;
            height: 415px;

            float: left;
            margin-top: 10px;
            text-align: center;
            border: 1px solid gray;
            background-color: burlywood;
        }

        .mapTipText {
            width: 283px;
            height: 110px;
            background-color: #ffffff;
        }

        .mapTipText .mapTipImg {
            height: 66px;
            width: 66px;
            float: left;
            border: 2px solid #ffffff;
            border-radius: 50%;
            overflow: hidden;
            margin: -12px 5px 0 -12px;
        }

        .mapTipText .mapTipList {

            width:283px;
            height:80px;
            border: 1px solid gray;
        }

        .mapTipText .mapTipList h2 {
            text-align: left;
        }

        .mapTipText .mapTipList h2 a {
            font-size: 24px;
            color: #262626;
            text-decoration: none;
        }

        .mapTipText .mapTipList h2 a:hover {
            color: #0085d2;
        }

        .mapTipText .mapTipList h2 a span {
            font-size: 16px;
            margin-left: 3px;
        }

        .mapTipText .mapTipList ul {
            width: 283px;

        }
        .mapTipText p{
            text-align: center;
        }

        .mapTipText .mapTipList ul li {
            list-style: none;
            float:left;
            margin-right:10px;

        }

        .mapTipText .mapTipList ul li a {
            color: #262626;
            text-decoration: none;
        }

        .mapTipText .mapTipList ul li a:hover {
            background-color: #2ebcfe;
            color: #ffffff;
        }


    </style>
{% endblock %}
{% block content %}
    {% include "home/grid.html" %}
    <div class="container">


        <div class="contain_bottom">
            <div class="contain_bottom_left">
                <ul class="choose_ul">
                    <li class="choose_item_left">
                        <a href="#" class="choose_item_left1" onmouseover="show1()">所有</a>
                    </li>
                    <li class="choose_item_left">
                        <a href="#" class="choose_item_left1" onmouseover="show2()">刑事案件</a>
                    </li>
                    <li class="choose_item_left">
                        <a href="#" class="choose_item_left1" onmouseover="show3()">民事案件</a>
                    </li>
                    <li class="choose_item_left">
                        <a href="#"  class="choose_item_left1" onmouseover="show4()">行政案件</a>
                    </li>
                    <li class="choose_item_left">
                        <a href="#"  class="choose_item_left1" onmouseover="show5()">赔偿案件</a>
                    </li>
                    <li class="choose_item_left">
                        <a href="#" class="choose_item_left1" onmouseover="show6()">执行案件</a>
                    </li>
                </ul>
            </div>


            <div class="wrapp" id="contain_bottom_middle2">
                <div class="wrap" style="margin-left:-70px;">
                    <div class="itemCon" style="float: left">
                        <div id="ChinaMap"></div>
                        <div id="stateTip"
                             style="position: absolute;left: 100%;text-align: left;display: inline;"></div>
                    </div>

                    <div id="mapTipContent" style="width: 650px;margin: 0 auto;display: none">
                        <div class="mapTipText mapTipText0" id="">
                            <p>黑龙江</p>
                            <div class="mapTipList">
                                <ul>

                                    <li>刑事案件:137456</li>
                                    <li>民事案件:699209</li>
                                    <li>行政案件:18649</li>
                                    <li>赔偿案件:855</li>
                                    <li>执行案件:258599</li>
                                    <li>共计:1114768</li>


                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText1">
                            <p>吉林</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:171598</li>
                                    <li>民事案件:1028658</li>
                                    <li>行政案件:35911</li>
                                    <li>赔偿案件:1411<</li>
                                    <li>执行案件:289004</li>
                                    <li>共计:1526582</li>


                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText2">
                            <p>辽宁</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:169695</li>
                                    <li>民事案件:1055264</li>
                                    <li>行政案件:38726</li>
                                    <li>赔偿案件:1734</li>
                                    <li>执行案件:166460</li>
                                    <li>共计:1431879</li>

                                </ul>
                            </div>
                        </div>

                        <div class="mapTipText mapTipText3">
                            <p>河北</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:217910</li>
                                    <li>民事案件:1388132</li>
                                    <li>行政案件:80445</li>
                                    <li>赔偿案件:1158</li>
                                    <li>执行案件:229158</li>
                                    <li>共计:1916803</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText4">
                            <p>山东</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:361073</li>
                                    <li>民事案件:2672221</li>
                                    <li>行政案件:129287</li>
                                    <li>赔偿案件:2162</li>
                                    <li>执行案件:673131</li>
                                    <li>共计:3837874</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText5">
                            <p>江苏</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:430307</li>
                                    <li>民事案件:2723831</li>
                                    <li>行政案件:88468</li>
                                    <li>赔偿案件:2348</li>
                                    <li>执行案件:565773</li>
                                    <li>共计:3810727</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText6">
                            <p>浙江</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:576740</li>
                                    <li>民事案件:3398182</li>
                                    <li>行政案件:127760</li>
                                    <li>赔偿案件:3439</li>
                                    <li>执行案件:782223</li>
                                    <li>共计:4888344</li>


                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText7">
                            <p>安徽</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:239153</li>
                                    <li>民事案件:1521931</li>
                                    <li>行政案件:52726</li>
                                    <li>赔偿案件:1988</li>
                                    <li>执行案件:371473</li>
                                    <li>共计:2187271</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText8">
                             <p>河南</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:537602</li>
                                    <li>民事案件:2337565</li>
                                    <li>行政案件:143724</li>
                                    <li>赔偿案件:3870</li>
                                    <li>执行案件:391740</li>
                                    <li>共计:3414501</li>


                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText9">
                            <p>山西</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:124717</li>
                                    <li>民事案件:503093</li>
                                    <li>行政案件:18525</li>
                                    <li>赔偿案件:574</li>
                                    <li>执行案件:122350</li>
                                    <li>共计:769259</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText10">
                            <p>陕西</p>
                            <div class="mapTipList">
                                <ul>
                                    <li>刑事案件:164442</li>
                                    <li>民事案件:1028891</li>
                                    <li>行政案件:27659</li>
                                    <li>赔偿案件:702</li>
                                    <li>执行案件:267110</li>
                                    <li>共计:1488804</li>

                                </ul>
                            </div>
                        </div>

                        <div class="mapTipText mapTipText11">
                            <p>甘肃</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:124422</li>
                                    <li>民事案件:528855</li>
                                    <li>行政案件:13400</li>
                                    <li>赔偿案件:477</li>
                                    <li>执行案件:91799</li>
                                    <li>共计:758953</li>

                                </ul>
                            </div>
                        </div>

                        <div class="mapTipText mapTipText12">
                            <p>湖北</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:224889</li>
                                    <li>民事案件:1072381</li>
                                    <li>行政案件:68541</li>
                                    <li>赔偿案件:1501</li>
                                    <li>执行案件:278427</li>
                                    <li>共计:1645739</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText13">
                            <p>江西</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:129007</li>
                                    <li>民事案件:554581</li>
                                    <li>行政案件:21110</li>
                                    <li>赔偿案件:366</li>
                                    <li>执行案件:148522</li>
                                    <li>共计:853586</li>

                                </ul>
                            </div>
                        </div>

                        <div class="mapTipText mapTipText14">
                            <p>福建</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:289364</li>
                                    <li>民事案件:130678</li>
                                    <li>行政案件:51166</li>
                                    <li>赔偿案件:1303</li>
                                    <li>执行案件:383154</li>
                                    <li>共计:855665</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText15">
                            <p>湖南</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:331443</li>
                                    <li>民事案件:1380101</li>
                                    <li>行政案件:97714</li>
                                    <li>赔偿案件:3260</li>
                                    <li>执行案件:392083</li>
                                    <li>共计:2204601</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText16">
                            <p>贵州</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:156632</li>
                                    <li>民事案件:430168</li>
                                    <li>行政案件:25186</li>
                                    <li>赔偿案件:1996</li>
                                    <li>执行案件:75294</li>
                                    <li>共计:689276</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText17">
                            <p>四川</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:292209</li>
                                    <li>民事案件:1559496</li>
                                    <li>行政案件:38522</li>
                                    <li>赔偿案件:2242</li>
                                    <li>执行案件:427435</li>
                                    <li>共计:2319904</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText18">
                            <p>云南</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:234351</li>
                                    <li>民事案件:394212</li>
                                    <li>行政案件:8326</li>
                                    <li>赔偿案件:369</li>
                                    <li>执行案件:126979</li>
                                    <li>共计:764237</li>


                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText19">
                            <p>青海</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:34041</li>
                                    <li>民事案件:104558</li>
                                    <li>行政案件:3314</li>
                                    <li>赔偿案件:137</li>
                                    <li>执行案件:24303</li>
                                    <li>共计:166353</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText20">
                            <p>海南</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:39461</li>
                                    <li>民事案件:81875</li>
                                    <li>行政案件:6574</li>
                                    <li>赔偿案件:445</li>
                                    <li>执行案件:21103</li>
                                    <li>共计:149458</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText21">
                            <p>上海</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:240708</li>
                                    <li>民事案件:1678815</li>
                                    <li>行政案件:26004</li>
                                    <li>赔偿案件:937</li>
                                    <li>执行案件:76995</li>
                                    <li>共计:2023459</li>

                                </ul>
                            </div>
                        </div>

                        <div class="mapTipText mapTipText22">
                            <p>重庆</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:156936</li>
                                    <li>民事案件:998520</li>
                                    <li>行政案件:44182</li>
                                    <li>赔偿案件:3047</li>
                                    <li>执行案件:85845</li>
                                    <li>共计:1288530</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText23">
                            <p>天津</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:90872</li>
                                    <li>民事案件:511450</li>
                                    <li>行政案件:20181</li>
                                    <li>赔偿案件:743</li>
                                    <li>执行案件:116849</li>
                                    <li>共计:740095</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText24">
                            <p>北京</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:103920</li>
                                    <li>民事案件:874821</li>
                                    <li>行政案件:64773</li>
                                    <li>赔偿案件:4733</li>
                                    <li>执行案件:116202</li>
                                    <li>共计:1164449</li>

                                </ul>
                            </div>
                        </div>

                        <div class="mapTipText mapTipText25">
                            <p>宁夏</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:36996</li>
                                    <li>民事案件:276992</li>
                                    <li>行政案件:5543</li>
                                    <li>赔偿案件:623</li>
                                    <li>执行案件:74806</li>
                                    <li>共计:394960</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText26">
                            <p>内蒙古</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:104387</li>
                                    <li>民事案件:759983</li>
                                    <li>行政案件:11255</li>
                                    <li>赔偿案件:455</li>
                                    <li>执行案件:166936</li>
                                    <li>共计:1043016</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText27">
                            <p>广西</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:221674</li>
                                    <li>民事案件:706121</li>
                                    <li>行政案件:23060</li>
                                    <li>赔偿案件:623</li>
                                    <li>执行案件:271424</li>
                                    <li>共计:1222902</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText28">
                            <p>新疆</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:80340</li>
                                    <li>民事案件:352702</li>
                                    <li>行政案件:8368</li>
                                    <li>赔偿案件:613</li>
                                    <li>执行案件:54472</li>
                                    <li>共计:496495</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText29">
                            <p>西藏</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:6310</li>
                                    <li>民事案件:18798</li>
                                    <li>行政案件:141</li>
                                    <li>赔偿案件:12</li>
                                    <li>执行案件:5343</li>
                                    <li>共计:30604</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText30">
                            <p>广东</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:509372</li>
                                    <li>民事案件:1759379</li>
                                    <li>行政案件:69803</li>
                                    <li>赔偿案件:3046</li>
                                    <li>执行案件:270845</li>
                                    <li>共计:2612445</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText31">
                            <p>香港</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:暂无数据</li>
                                    <li>民事案件:暂无数据</li>
                                    <li>行政案件:暂无数据</li>
                                    <li>赔偿案件:暂无数据</li>
                                    <li>执行案件:暂无数据</li>
                                    <li>共计:暂无数据</li>

                                </ul>
                            </div>
                        </div>
                        <div class="mapTipText mapTipText32">
                            <p>台湾</p>
                            <div class="mapTipList">

                                <ul>
                                    <li>刑事案件:暂无数据</li>
                                    <li>民事案件:暂无数据</li>
                                    <li>行政案件:暂无数据</li>
                                    <li>赔偿案件:暂无数据</li>
                                    <li>执行案件:暂无数据</li>
                                    <li>共计:暂无数据</li>

                                </ul>
                            </div>
                        </div>

                        <div class="mapTipText mapTipText33">
                            <p>澳门</p>
                            <div class="mapTipList">

                                <ul>
                                     <li>刑事案件:暂无数据</li>
                                    <li>民事案件:暂无数据</li>
                                    <li>行政案件:暂无数据</li>
                                    <li>赔偿案件:暂无数据</li>
                                    <li>执行案件:暂无数据</li>
                                    <li>共计:暂无数据</li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>


            </div>


            <div class="contain_bottom_right">
                <div class="contain_bottom_r_top">

                    <a href="#" class="contain_bottom_r_top_a">汇总</a>
                </div>
                <div class="contain_bottom_r_mi" id="contain_bottom_r_mi_">

                </div>

                <div class="contain_bottom_r_bo">
                    <a href="{{ url_for("home.wenshu_search_detail") }}" class="contain_bottom_r_top_a">文书明细</a>
                </div>
                <div></div>
            </div>
        </div>

    </div>
    <div class="control-sidebar-bg"></div>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/nav.js') }}"></script>



{% endblock %}


{% block js %}
    <script src="{{ url_for('static',filename='js/lib/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/lib/raphael-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/res/chinaMapConfig.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/map-min.js') }}"></script>
    <script>
        $(function () {
            $('#ChinaMap').SVGMap({
                mapWidth: 926,
                mapHeight: 396
            });
        });

        function show1() {

            var case_sum = document.getElementById("contain_bottom_r_mi_");
            case_sum.innerHTML = "<span>收录判决文书XX件</span>" +
                "<span>刑事案件XX件</span><br/>" + "<span>民事案件XX件</span><br/>" + "<span>.......</span>"


        }

        function show2() {

            var case_sum = document.getElementById("contain_bottom_r_mi_");
            case_sum.innerHTML = "<span>收录刑事案件XX件</span>" +
                "<span>小类1 XX件</span><br/>" + "<span>小类2 XX件</span>"


        }

        function show3() {
            var case_sum = document.getElementById("contain_bottom_r_mi_");
            case_sum.innerHTML = "<span>收录民事案件XX件</span>" +
                "<span>小类1 XX件</span><br/>" + "<span>小类2 XX件</span>"

        }

        function show4() {
            var case_sum = document.getElementById("contain_bottom_r_mi_");
            case_sum.innerHTML = "<span>收录行政案件XX件</span>" +
                "<span>小类1 XX件</span><br/>" + "<span>小类2 XX件</span>"

        }

        function show5() {
            var case_sum = document.getElementById("contain_bottom_r_mi_");
            case_sum.innerHTML = "<span>收录赔偿案件XX件</span>" +
                "<span>小类1 XX件</span><br/>" + "<span>小类2 XX件</span>"

        }

        function show6() {
            var case_sum = document.getElementById("contain_bottom_r_mi_");
            case_sum.innerHTML = "<span>收录执行案件XX件</span>" +
                "<span>小类1 XX件</span><br/>" + "<span>小类2 XX件</span>"

        }
    </script>
{% endblock %}