<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>智能法判</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/logo.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static',filename='css/base.css') }}" rel="stylesheet">

    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% block css %}{% endblock %}
    <!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
    <script>
        window.onload = function () {
            var oH2 = document.getElementsByTagName("h2")[0];
            var oUl = document.getElementsByTagName("ul")[0];
            oH2.onclick = function () {
                var style = oUl.style;
                style.display = style.display == "block" ? "none" : "block";
                oH2.className = style.display == "block" ? "open" : ""
            }
        }
    </script>
</head>
<body>
<header>
    <div class="tophead">
        <div class="logo"><a href="/">法律文书辅助平台</a></div>
        <div id="mnav">
            <h2><span class="navicon"></span></h2>
            <ul>
                <li><a href="{{ url_for('home.index') }}">首页</a></li>
                <li><a href="{{ url_for('home.legalprovision') }}">法律条文</a></li>
                <li><a href="{{ url_for('home.judgmentdoc') }}">判决文书</a></li>
                <li><a href="{{ url_for('home.case_judge') }}">案件判研</a></li>
                <li><a href="{{ url_for('home.login') }}">登录</a></li>
                <li><a href="{{ url_for('home.register') }}">注册</a></li>
            </ul>
        </div>
        <nav class="topnav" id="topnav">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="{{ url_for('home.legalprovision') }}">法律条文</a></li>
                <li><a href="{{ url_for('home.judgmentdoc') }}">判决文书</a></li>
                <li><a href="{{ url_for('home.case_judge') }}">案件判研</a></li>
{#                <li><a href="{{ url_for('home.login') }}">登录</a></li>#}
{#                <li><a href="{{ url_for('home.register') }}">注册</a></li>#}
{#                <li><a href="#">{{ username }}</a></li>#}

                {% if current_user.is_authenticated %}
                    <li>欢迎<a href="#" style="color:blue;">{{ current_user.username }}</a>登录</li>
                    <li>
                        <a href="{{ url_for('home.logout') }}">
                            退出
                        </a>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('home.login') }}">登陆</a></li>
                    <li><a href="{{ url_for('home.register') }}">注册</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    {% block content %}{% endblock %}
</div>

<footer style="margin-bottom:20px;background:none;">
<strong>版权 &copy; 2018-2019 归<a href="http://www.gzhu.edu.cn/">GuangZhou University</a>.</strong> 所有
</footer>
<div class="control-sidebar-bg"></div>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/nav.js') }}"></script>

{% block js %}
{% endblock %}
</body>
</html>